// Custom variables
:host {
    --page-margin: var(--app-broad-margin);
    --page-background: var(--app-background-shade);
  }
  
  ion-title{
    font-size: 0.9375rem;
    text-align: center;
  }
  
  ion-list{
    margin-bottom: calc(var(--page-margin) * 2);
  }
  
  ion-label{
    color: var(--ion-color-secondary);
    font-size: 0.75rem;
  }
  ion-input {
    --padding-start: 0px;
    --padding-end: 0px;
    --inner-padding-start: 0px;
  --inner-padding-end: 0px;
  }
  .login-content {
    --background: var(--page-background);
    --padding-start: var(--page-margin);
    --padding-end: var(--page-margin);
    --padding-top: var(--page-margin);
    --padding-bottom: var(--page-margin);
  
    .auth-title {
      color: var(--ion-color-dark);
      font-weight: bold;
      margin-top: calc(var(--page-margin) / 2);
      margin-bottom: calc(var(--page-margin) * (3/2));
      letter-spacing: 0.6px;
    }
  
    .inputs-list {
      --ion-item-background: var(--page-background);
  
      .input-item {
        --padding-start: 0px;
        --padding-end: 0px;
        --inner-padding-end: 0px;
        .ion-input {
          --background: #FBFBFB;
          border: 1px solid var(--ion-color-secondary);;
          --padding-start: 3px;
          border-radius: 4px;
         --placeholder-color: var(--ion-color-medium);
        
        }
        ion-label{
            font-size: 18px;
            margin-bottom: 8px;
        }
        
      }
  
    }
  
    .login-btn {
      margin: calc(var(--page-margin) / 2) 0px;
    }
  
   
  
      .forgot-btn {
        --color: var(--ion-color-secondary);
        margin: 0px;
        text-transform: capitalize !important;
        font-size: 0.75rem;
        text-align: center;
  
        &:focus {
          outline: none;
        }
      }
  
      .signup-btn {
        --color: var(--ion-color-secondary);
        margin: 0px;
  
        &:focus {
          outline: none;
        }
      }
  
    .other-auth-options-row {
      justify-content: space-between;
      align-items: center;
  
      .forgot-btn {
        --color: var(--ion-color-medium);
        margin: 0px;
        text-transform: capitalize;
  
        &:focus {
          outline: none;
        }
      }
  
      .signup-btn {
        --color: var(--ion-color-secondary);
        margin: 0px;
        text-transform: capitalize;
  
        &:focus {
          outline: none;
        }
      }
    }
  
  }
  
  input {
    background: #FBFBFB;
    border: 1px solid var(--ion-color-secondary);;
    border-radius: 4px;
  }
  