:host {
    --page-margin: var(--app-broad-margin);
    --page-background: var(--app-background-shade);
  }

  .create-content {
    --background: var(--page-background);
    --padding-start: var(--page-margin);
    --padding-end: var(--page-margin);
    --padding-top: var(--page-margin);
    --padding-bottom: var(--page-margin);

    .inputs-list {
        --ion-item-background: var(--page-background);
    
        .input-item {
          --padding-start: 0px;
          --padding-end: 0px;
          --inner-padding-end: 0px;
          .ion-input {
            --background: #FBFBFB;
            border: 1px solid var(--ion-color-secondary);;
            --padding-start: 3px;
            border-radius: 4px;
           --placeholder-color: var(--ion-color-medium);
          
          }
          .ion-textarea {
            --background: #FBFBFB;
            border: 1px solid var(--ion-color-secondary);;
            --padding-start: 3px;
            border-radius: 4px;
           --placeholder-color: var(--ion-color-medium);
          
          }
          
          ion-label{
              font-size: 18px;
              margin-bottom: 8px;
          }
          
        }
    
      }

    

  }